<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @product_type.name %>
</p>

<p>
  <b>Descripci&oacute;n:</b>
  <%= @product_type.description %>
</p>


<%= link_to 'Editar', edit_product_type_path(@product_type), class: "btn btn-primary" %> |
<%= link_to 'Atras', product_types_path, class: "btn btn-primary" %>
