<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="control-group">
    <%= f.label "Nombre" %>
    <%= f.text_field :first_name, class: "input-xlarge" %>
  </div>
  <div class="control-group">
    <%= f.label "Apellido" %>
    <%= f.text_field :last_name, class: "input-xlarge" %>
  </div>
  <div class="control-group">
    <%= f.label "Genero" %>
    <%= f.radio_button :gender, true, checked: true %>Hombre
    <%= f.radio_button :gender, false %>Mujer
  </div>
  <div class="control-group">
    <%= f.label "Pais" %>
    <%= f.select :country_id, Country.all.map { |country| [country.name, country.id] } %>
  </div>
  <div class="control-group">
    <%= f.label "Cargo" %>
    <%= f.select :job_id, Job.all.map { |job| [job.name, job.id] } %>
  </div>
  <div class="control-group">
    <%= f.label "Tipo de documento" %>
    <%= f.text_field :document_type, class: "input-xlarge" %>
  </div>
  <div class="control-group">
    <%= f.label "Documento" %>
    <%= f.text_field :document, class: "input-xlarge" %>
  </div>
  <div class="control-group">
    <%= f.label "NIT" %>
    <%= f.text_field :nit, class: "input-xlarge" %>
  </div>
  <div class="control-group">
    <%= f.label "Correo" %>
    <%= f.text_field :email, class: "input-xlarge" %>
  </div>
  <div class="control-group">
    <%= f.label :password, class: "input-xlarge" %>
    <%= f.password_field :password %>
  </div>
  <div class="control-group">
    <%= f.label "Direccion" %>
    <%= f.text_area :address, class: "input-xxlarge", rows: "5" %>
  </div>
  <div class="control-group">
    <%= f.label "Estado", class: "checkbox" do %>
    <%= f.check_box :state %> Activo
    <% end %>
  </div>
  <div class="control-group">
    <%= f.button "Guardar", type: "submit", class: "btn btn-primary" %>
  </div>
<% end %>
