<h1>Lista de empleados</h1>

<table class="table table-hover">
  <thead>  
    <tr>    
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Genero</th>
      <th>NIT</th>
      <th>Cargo</th>
      <th>Correo</th>
      <th>Estado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @employees.each do |employee| %>
  <tbody>
    <tr>    
      <td><%= employee.first_name %></td>
      <td><%= employee.last_name %></td>
      <td><%= employee.gender == true ? "Hombre" : "Mujer" %></td>
      <td><%= employee.nit %></td>
      <td><%= employee.job.name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.state == true ? "Activo" : "Bloqueado" %></td>
      <td><%= link_to 'Ver', employee %></td>
      <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
      <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
    </tr>
  </tbody>
<% end %>
</table>

<br />

<%= link_to 'Nuevo empleado', new_employee_path, class: "btn btn-primary" %>
