<p id="notice"><%= notice %></p>


<p>
  <b>Nombre:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Genero:</b>
  <%= @employee.gender == true ? "Hombre" : "Mujer" %>
</p>

<p>
  <b>Pais:</b>
  <%= @employee.country.name %>
</p>

<p>
  <b>Cargo:</b>
  <%= @employee.job.name %>
</p>


<p>
  <b>Tipo de documento:</b>
  <%= @employee.document_type %>
</p>

<p>
  <b>Documento:</b>
  <%= @employee.document %>
</p>

<p>
  <b>NIT:</b>
  <%= @employee.nit %>
</p>

<p>
  <b>Correo:</b>
  <%= @employee.email %>
</p>

<% unless @employee.user.blank? %>
<p>
  <b>Usuario:</b>
  <%= @employee.user.username %>
</p>
<% end %>

<p>
  <b>Direcci&oacute;n:</b>
  <%= @employee.address %>
</p>

<p>
  <b>Estado:</b>
  <%= @employee.state == true ? "Activo" : "Bloqueado" %>
</p>


<%= link_to 'Editar', edit_employee_path(@employee), class: "btn btn-primary" %> |
<%= link_to 'Atras', employees_path, class: "btn btn-primary" %>
