<h1>Listado de subcategorias</h1>

<table class="table table-hover">
  <thead> 
    <tr>
      <th>Categoria</th>
      <th>Nombre</th>
      <th>Descripci&oacute;n</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @subcategories.each do |subcategory| %>
  <tbody>
    <tr>
      <td><%= subcategory.category.name %></td>
      <td><%= subcategory.name %></td>
      <td><%= subcategory.description %></td>
      <td><%= link_to 'Ver', show_subcategory_path(subcategory) %></td>
      <td><%= link_to 'Editar', edit_subcategory_path(subcategory) %></td>
      <td><%= link_to 'Eliminar', subcategory, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
    </tr>
  </tbody>
<% end %>
</table>

<br />
<%= link_to "Ver categorias", categories_path, class: "btn btn-primary" %> |
<%= link_to 'Nueva subcategoria', new_subcategory_path(params[:id]), class: "btn btn-primary" %>
