<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @role.name %>
</p>

<p>
  <b>Descripci&oacute;n:</b>
  <%= @role.description %>
</p>


<%= link_to 'Editar', edit_role_path(@role), class: "btn btn-primary" %> |
<%= link_to 'Atras', roles_path, class: "btn btn-primary" %>
