<%= form_for(@category) do |f| %>  
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "Nombre" %>
    <%= f.text_field :name, class: "input-xlarge" %>
  </div>      
  
  <div class="control-group">
    <%= f.label "Descripcion" %>
    <%= f.text_area :description, rows: "5", class: "input-xxlarge" %>
  </div>      
 
  <div class="control-group">
    <%= f.button "Guardar", class: "btn", type: "submit" %>
  </div>
<% end %>
